# Python
__pycache__/
*.pyc
*.pyo

# Build
dist/
build/
*.egg-info/

# Logs
*.log

# User config
.config/

# Archives
*.zip

#misc
.venv
post
planned_updates

# Logs
*.log

# OS/editor noise
*.swp
*~

